.containerMain {
    margin: 0 auto;
    padding-top: 4rem;
    max-width: 80vi;
    min-height: 100vw;
    align-items: flex-start;
}

.container {
    width: 100%;
    height: 60.063rem;
    display: grid;
    grid-template-columns: 27rem 1fr;
    gap: 2rem;
    align-items: flex-start;

}

.sideBar {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sideImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.containerCentral {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    padding-top: 11.5rem;
}

.boxOrange {
    width: 53.375rem;
    height: 34.813rem;
    background: rgba(232, 79, 48, 0.30);
    border-radius: 20px;
    padding: 2.75rem 5.875rem 2.375rem 5.875rem;
}

.textWelcome h1 {
    padding-bottom: .75rem;
}

.boxViolet {
    width: 41.625rem;
    height: 17.313rem;
    background: var(--violet);
    border-radius: 20px;
    margin-top: 2.375rem;
    padding-top: 2.625rem;
    padding-left: 5rem;
    color: var(--white);
}

.textAccount {
    display: flex;
    justify-content: space-between;
    padding-top: 1.625rem;
}

.buttonText {
    border-bottom: 0px;
    border: none !important;
    background: transparent;
    padding-top: .75rem;
}

.buttonViolet {
    display: flex;
    width: 16rem;
    padding: 20px 24px;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: var(--violet);
    color: var(--white);
    font-weight: 700;
}

.textForget {
    width: 53.375rem;
}

.textViolet {

    display: flex;
    justify-content: right;
    color: var(--violet);
    margin-right: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

footer {
    background: var(--orange);
    height: 3.938rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem 0 12rem;
}

footer a {
    margin-left: 1rem;
}

@media screen and (min-width: 769px) {}