.textAccount {
    display: flex;
    justify-content: space-between;
    padding-top: 1.625rem;
}

.buttonText {
    border-bottom: 0px;
    border: none !important;
    background: transparent;
    padding-top: .75rem;
}

/* 
.buttonViolet {
    display: flex;
    width: 16rem;
    padding: 20px 24px;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: var(--violet);
    color: var(--white);
    font-weight: 700;
} */

.textForget {
    width: 53.375rem;
}

.textViolet {

    display: flex;
    justify-content: right;
    color: var(--violet);
    margin-right: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

@media screen and (min-width: 769px) {}