.html {
    font-size: 87.5%;
}

body {
    position: relative;
}

.photo {
    position: absolute;
    width: 40%;
    height: 100vh;
    z-index: 0;
    padding-top: 26rem;
    bottom: 0;
}

.containerMain {
    max-width: 70rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1rem 0;
    background-image: url('src/assets/FotoToti1.svg');
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: 100%;
    background-position: bottom left;
    border: solid 1px var(--orange);
    border-bottom: none;
    border-radius: 40px 0 1rem 0;

}

.container {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}


.boxOrange {
    min-height: 27rem;
    width: 100%;
    background: var(--orange-2);
    border-radius: 14px;
    padding: 1rem;
    margin-top: 1.5rem;
}

.boxViolet {
    width: 41.625rem;
    height: 17.313rem;
    background: var(--violet);
    border-radius: 20px;
    margin-top: 2.375rem;
    padding-top: 2.625rem;
    padding-left: 5rem;
    color: var(--white);
}


.buttonViolet {
    display: flex;
    width: 16rem;
    padding: 20px 24px;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: var(--violet);
    color: var(--white);
    font-weight: 700;
}

@media screen and (min-width: 769px) {
    html {
        font-size: 100%;
    }

    .containerMain {
        background-image: url('src/assets/FotoTotiAllBig2.svg');
        background-position: top right;
        border-bottom: none;
        border-radius: 150px 0 1rem 0;
    }

    .container {
        margin-top: 3rem;
        grid-template-columns: 256px 1fr;
        align-items: flex-start;
    }

    .boxOrange {
        min-height: 77vh;
        margin-top: 4rem;
        padding: 2.75rem 5.875rem 2.375rem 5.875rem;
    }

    .photo {
        position: absolute;
        width: 30%;
        height: 100vh;
        z-index: 0;
        padding-top: 8rem;
    }
}