.html {
    font-size: 87.5%;
}

.containerMain {
    max-width: 70rem;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

.container1 {
    width: 100%;
    height: 60.063rem;
    display: grid;
    grid-template-columns: 27rem 1fr;
    gap: 2rem;
    align-items: flex-start;
}

.container {
    width: 100%;
    height: 60.063rem;
    display: grid;
    /* grid-template-columns: 11.75rem 1fr; */
    gap: 2rem;
    align-items: flex-start;

}

.containerCentral {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    padding-top: 11.5rem;
}

.boxOrange1 {
    width: 53.375rem;
    height: 34.813rem;
    background: rgba(232, 79, 48, 0.30);
    border-radius: 20px;
    padding: 2.75rem 5.875rem 2.375rem 5.875rem;
}

.boxOrange {
    width: 66.75rem;
    height: 47.188rem;
    background: rgba(232, 79, 48, 0.30);
    border-radius: 20px;
    padding: 2.75rem 5.875rem 2.375rem 5.875rem;
}

.textWelcome h1 {
    padding-bottom: .75rem;
}

.boxViolet {
    width: 41.625rem;
    height: 17.313rem;
    background: var(--violet);
    border-radius: 20px;
    margin-top: 2.375rem;
    padding-top: 2.625rem;
    padding-left: 5rem;
    color: var(--white);
}


.buttonViolet {
    display: flex;
    width: 16rem;
    padding: 20px 24px;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: var(--violet);
    color: var(--white);
    font-weight: 700;
}


@media screen and (min-width: 769px) {
    .html {
        font-size: 100%;
    }
    .containerMain {
        /* grid-template-columns: 11.75rem 1fr; */
        grid-template-columns: 256px 1fr;
    }    
}