.quadradolaranja{
    background: rgba(232, 79, 48, 0.30);
    border-radius: 1.25rem;
    width:66.813rem;
    height: 44.875rem;
    flex-shrink: 0;
      
}

.quadrado{
    background: rgba(232, 79, 48, 0.30);    

}