.quadradolaranja{
    background: rgba(232, 79, 48, 0.30);
    border-radius: 20px;
    width: 1069px;
height: 718px;
flex-shrink: 0;
}
.cardlaranja{
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 12px 12px 0px 0px;
    width: 303px;
height: 142.492px;
flex-shrink: 0;
}