* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --violet: #3D265E;
  --orange: #E84F30;
  --gray-1: #D9D9D9;
  --gray-2: #1F1F1F;
}

html,
body {
  color: var(--black);
  background-color: var(--white);
}

html,
body,
input,
textarea,
button {
  font: 400 1rem Roboto, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: transparent;
  color: var(--black);
}

.linkHover {
  opacity: 1;
  transition: .3s;
  cursor: pointer;
}

.linkHover:hover {
  opacity: .7;
}